@l: 14px;
@xl: 16px;
@xxl: 18px;
/*font-size*/

@white: white;
@grey: #e0e1dd;
@black: #252c26;
/*font-color*/

.sb {
  display: flex;
  justify-content: space-between;
}

/*short_code*/

@font-face {
  font-family: "Open Sans";
  src: url("./Font/Luma-Icons.woff2");
  src: url("./Font/opensans-300.woff2");
  src: url("./Font/opensans-400.woff2");
  src: url("./Font/opensans-600.woff2");
  src: url("./Font/opensans-700.woff2");
}

/*Banner_Site_Info*/
.topwebsitebanner {
  display: block;
  height: 48px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 9px;
  background-color: #2d2b31;
  text-align: center;

  &_text1 {
    margin-top: 0;
    color: @white;
    font-size: @xl;
    font-style: normal;
  }

  &_text2 {
    margin-top: 0;
    color: #fff;
    font-size: 13px;
    font-style: normal;
  }
}

/*Banner_Site_Info*/

a, .alink {
  color: rgba(37, 44, 38, 1);
  text-decoration: none;
}

.widget_block {
  font-weight: 700;
}

.phone {
  float: left;

  &-icon img {
    position: relative;
    padding-right: 2px;
  }

  &_numbers {
    .sb;
    float: left;
  }
}

body {
  color: #252c26;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: @l;
  margin: auto;

}

.header {
  background-color: rgb(169, 176, 137);

  &_logo {
    position: relative;
    bottom: -15px;
    z-index: 4;
  }

  &_search {
  }

  &_content {
    &_phone {
      .sb;
      font-size: @l;
    }
  }
}

.search_logo {
  padding-top: 2px;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  /*
  position: center;
  */
}

.select {
  font-size: @l;
  font-weight: 700;
  margin: 0 0 0 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  color: @white;
  border: none;

  &_list {
    background-color: #e0e1dd;
    color: @black;

    /* &:hover {
       color: @white;
       text-decoration: none;
       border: none;
       background-color: #444444;
     }*/

    /* &::before {
       color: #888888;
       text-decoration: none;
       background-color: #444444;

     }*/
  }
}

.header_top_link {
  .sb;
  font-size: @xl;

  &_left {

  }

  &_right {

  }
}

.del_info_link_homepage {
  font-size: @xl;
  color: @white;
  font-weight: 700;
}

.widget.block {
  margin: 0;
  display: inline-block;
}

.navigation {
  background: @grey;
  font-weight: 700;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
  color: #252c26;
  line-height: 45px;
  font-size: @xl;
  height: inherit;
  left: auto;
  overflow: inherit;
  padding: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;

  &_ul, &_li {
    display: inline;
    margin: 1%;
    padding: 2%;
  }
}

.slider {

  &_image {
    height: 395px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &_text {
    padding-top: 50px;
    font-size: 20px;
    z-index: 1;
    padding-bottom: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: @white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 1);
  }

}

.cybermondaytxt {
  font-size: 40px;
  line-height: 45px;
}

.cmondaypercentofftxt {
  font-size: 85px;
  line-height: 90px;
  font-weight: 700;
}

.everythingofftxt {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}

.freegiftsovertxt {
  font-size: @xl;
  line-height: 24px;
  padding-bottom: 25px;
}

.button_shop {
  margin-top: 10px;
  padding: 10px 25px;
}

.desktop-msg {
  font-size: @l;
  background-color: #2e2b32;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: #eaeaea;
  text-align: center;
  font-weight: 400;
  margin-bottom: -20px;
}

.usp_list {
  display: flex;
  justify-content: space-around;
  background-color: @grey;
  padding: 15px 0 10px;
  margin-top: 30px;
}

.ti-icon {
  display: flex;
  padding: 10px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
}

.widget {
  &_block {
    img {
      width: 100%;
    }

    .sb;
  }

  &_blocks {
    .sb;
    max-width: 480px;
    max-height: 480px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px 0 20px 0;

    &:nth-child(2) {
      padding: 20px;
    }
  }

  &_b {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
}

.btn {
  box-shadow: none;
  margin-top: 80%;
  background: rgba(0, 0, 0, 0.5);
  color: @white;
  border: 1px solid #e0e1dd;
  padding: 11px 20px;
}

.ship_container {
  margin-bottom: 20px;

  &_box {
    background-image: url(https://cdnmedia.theirishstore.com/wysiwyg/Homepage/maps.png);
    padding: 20px 20px;
  }

  &_text {
    display: flex;
    flex-direction: column;
  }
}

.ship {
  &-header-text {
    display: block;
    font-family: 'Open Sans', sans-serif;
    color: #202020;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &-sub-text {
    color: #333;
    font-size: @l;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

/*exc-hero-banner*/

.exc {
  &-text {
    &-sub {
      color: @white;
      font-size: @l;
      line-height: 18px;
      font-weight: 400;
      text-align: center;
      text-shadow: 2px 2px 9px #000;
    }

    &-heading {
      margin-bottom: 5px;
      color: @white;
      font-size: 30px;
      line-height: 34px;
      font-weight: 400;
      text-align: center;
      text-shadow: 2px 2px 9px #000;
    }
  }

  &-button {
    margin-top: 15px;
    padding: 8px 35px;
    background-color: @white;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
    display: inline-block;
    border: 0;
    line-height: inherit;
    border-radius: 0;
  }

  &-hero {
    &-banner {
      display: flex;
      width: 100%;
      height: 250px;
      justify-content: flex-end;
      align-items: center;
      background-image: url(https://cdnmedia.theirishstore.com/wysiwyg/Homepage/Homepage_Hero/ex_collection_2020.jpg);
      background-position: 50% 0%;
      background-size: cover;
      margin-bottom: 20px;
      cursor: pointer;
    }

    &-text {
      position: static;
      width: 300px;
      margin-right: 13%;
      flex: 0 0 auto;
      text-align: center;

    }
  }

}

/*featured_categories*/
.featured_categories-all {
  margin-bottom: 130px;

  .featured_categories {
    .sb;
    flex-wrap: wrap;
    margin: 0 -5px;

    .features_box {
      flex: 1 1 auto;
      margin: 20px 5px 0;
      width: 49%;
      min-width: 300px;
    }

    .features_box_img {
      width: 100%;
      height: 278px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .features_box_text {
      padding-top: 20px;
      text-align: center;

      h3 {
        margin-bottom: 20px;
        line-height: 1.1;
        font-size: 24px;
        letter-spacing: .75px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}

button.white {
  box-shadow: none;
  background: #fff;
  border: 1px solid #252c26;
  color: #252c26;
  padding: 11px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: @l;
  font-weight: 700;

  &:hover {
    border: 1px solid rgba(37, 44, 38, .5);
    color: rgba(37, 44, 38, .5);
  }
}

/*OUR TOP PICKS SLIDER*/
.products_slick_slider {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.slick {
  &-dots {
    li {
      & + li {
        margin-left: 5px;
      }

      button {
        height: 15px;
        width: 15px;
        color: transparent;
      }
    }

    display: flex;
    justify-content: center;
    color: transparent;
    position: absolute;
    left: 50%;
  }

  &-prev, &-next {
    font-size: 0;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }
}

ul.slick-dots {
  padding: 0;
  margin: 0;
}

.products_title {
  border-bottom: 1px solid #c9cac8;
  position: relative;
  padding-top: 20px;
  margin-bottom: 40px;

  span {
    position: absolute;
    font-size: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    text-align: center;
    width: 260px;
  }
}

.products-slider {
  &_box {
    max-width: 200px;
    transition: all .3s;
    padding: 10px;
  }

  &_prod_title {
    font-weight: 700;
  }

  &_cost {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    &_was span {
      text-decoration: line-through;
    }

    &_now {
      color: #9a1a28;
    }

  }
}

/*VIDEO*/
.video {
  padding: 30px 0 30px;

  &_box {
    .sb;
    flex-wrap: wrap;
    margin: 0 -5px;
  }
}

.video_block {
  font-family: 'Roboto', sans-serif;
  flex: 1 1 auto;
  margin: 20px 5px 0;
  text-align: center;
  min-width: 300px;
  width: 49%;
  overflow-y: hidden;

  &-images {
    max-width: 100%;
    width: 100%;
    max-height: 320px;
    overflow-y: hidden;
    display: block;
    position: relative;

    &_play {
      box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 1);
      height: 38px;
      width: 38px;
      padding: 28px;
      border-radius: 50%;
      border: 3px solid #fff;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
      z-index: 5;

      &-triangle {
        width: 0;
        height: 0;
        background-color: transparent;
        margin-left: 6px;
        border-style: solid;
        border-width: 20px 0 20px 35px;
        border-color: transparent transparent transparent #ffffff;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: top;
      transition: all .5s;
    }
  }

  &-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
  }

  &-text {
    color: #252c26;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
  }

  &-link {
    padding: 9px 24px;
    border: 1px solid #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 0;
    margin-top: 15px;
  }
}

/*VIDEO*/
