/*font-size*/
/*font-color*/
.sb {
  display: flex;
  justify-content: space-between;
}
/*short_code*/
@font-face {
  font-family: "Open Sans";
  src: url("./Font/Luma-Icons.woff2");
  src: url("./Font/opensans-300.woff2");
  src: url("./Font/opensans-400.woff2");
  src: url("./Font/opensans-600.woff2");
  src: url("./Font/opensans-700.woff2");
}
/*Banner_Site_Info*/
.topwebsitebanner {
  display: block;
  height: 48px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 9px;
  background-color: #2d2b31;
  text-align: center;
}
.topwebsitebanner_text1 {
  margin-top: 0;
  color: white;
  font-size: 16px;
  font-style: normal;
}
.topwebsitebanner_text2 {
  margin-top: 0;
  color: #fff;
  font-size: 13px;
  font-style: normal;
}
/*Banner_Site_Info*/
a,
.alink {
  color: #252c26;
  text-decoration: none;
}
.widget_block {
  font-weight: 700;
}
.phone {
  float: left;
}
.phone-icon img {
  position: relative;
  padding-right: 2px;
}
.phone_numbers {
  display: flex;
  justify-content: space-between;
  float: left;
}
body {
  color: #252c26;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 14px;
  margin: auto;
}
.header {
  background-color: #a9b089;
}
.header_logo {
  position: relative;
  bottom: -15px;
  z-index: 4;
}
.header_content_phone {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.search_logo {
  padding-top: 2px;
}
.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  /*
  position: center;
  */
}
.select {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 0 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  color: white;
  border: none;
}
.select_list {
  background-color: #e0e1dd;
  color: #252c26;
  /* &:hover {
       color: @white;
       text-decoration: none;
       border: none;
       background-color: #444444;
     }*/
  /* &::before {
       color: #888888;
       text-decoration: none;
       background-color: #444444;

     }*/
}
.header_top_link {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.del_info_link_homepage {
  font-size: 16px;
  color: white;
  font-weight: 700;
}
.widget.block {
  margin: 0;
  display: inline-block;
}
.navigation {
  background: #e0e1dd;
  font-weight: 700;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
  color: #252c26;
  line-height: 45px;
  font-size: 16px;
  height: inherit;
  left: auto;
  overflow: inherit;
  padding: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;
}
.navigation_ul,
.navigation_li {
  display: inline;
  margin: 1%;
  padding: 2%;
}
.slider_image {
  height: 395px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider_text {
  padding-top: 50px;
  font-size: 20px;
  z-index: 1;
  padding-bottom: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 10px #000000, 0 0 20px #000000;
}
.cybermondaytxt {
  font-size: 40px;
  line-height: 45px;
}
.cmondaypercentofftxt {
  font-size: 85px;
  line-height: 90px;
  font-weight: 700;
}
.everythingofftxt {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}
.freegiftsovertxt {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 25px;
}
.button_shop {
  margin-top: 10px;
  padding: 10px 25px;
}
.desktop-msg {
  font-size: 14px;
  background-color: #2e2b32;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: #eaeaea;
  text-align: center;
  font-weight: 400;
  margin-bottom: -20px;
}
.usp_list {
  display: flex;
  justify-content: space-around;
  background-color: #e0e1dd;
  padding: 15px 0 10px;
  margin-top: 30px;
}
.ti-icon {
  display: flex;
  padding: 10px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
}
.widget_block {
  display: flex;
  justify-content: space-between;
}
.widget_block img {
  width: 100%;
}
.widget_blocks {
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  max-height: 480px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px 0 20px 0;
}
.widget_blocks:nth-child(2) {
  padding: 20px;
}
.widget_b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.btn {
  box-shadow: none;
  margin-top: 80%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid #e0e1dd;
  padding: 11px 20px;
}
.ship_container {
  margin-bottom: 20px;
}
.ship_container_box {
  background-image: url(https://cdnmedia.theirishstore.com/wysiwyg/Homepage/maps.png);
  padding: 20px 20px;
}
.ship_container_text {
  display: flex;
  flex-direction: column;
}
.ship-header-text {
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #202020;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.ship-sub-text {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}
/*exc-hero-banner*/
.exc-text-sub {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 9px #000;
}
.exc-text-heading {
  margin-bottom: 5px;
  color: white;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 9px #000;
}
.exc-button {
  margin-top: 15px;
  padding: 8px 35px;
  background-color: white;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-block;
  border: 0;
  line-height: inherit;
  border-radius: 0;
}
.exc-hero-banner {
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: flex-end;
  align-items: center;
  background-image: url(https://cdnmedia.theirishstore.com/wysiwyg/Homepage/Homepage_Hero/ex_collection_2020.jpg);
  background-position: 50% 0%;
  background-size: cover;
  margin-bottom: 20px;
  cursor: pointer;
}
.exc-hero-text {
  position: static;
  width: 300px;
  margin-right: 13%;
  flex: 0 0 auto;
  text-align: center;
}
/*featured_categories*/
.featured_categories-all {
  margin-bottom: 130px;
}
.featured_categories-all .featured_categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.featured_categories-all .featured_categories .features_box {
  flex: 1 1 auto;
  margin: 20px 5px 0;
  width: 49%;
  min-width: 300px;
}
.featured_categories-all .featured_categories .features_box_img {
  width: 100%;
  height: 278px;
}
.featured_categories-all .featured_categories .features_box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.featured_categories-all .featured_categories .features_box_text {
  padding-top: 20px;
  text-align: center;
}
.featured_categories-all .featured_categories .features_box_text h3 {
  margin-bottom: 20px;
  line-height: 1.1;
  font-size: 24px;
  letter-spacing: 0.75px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
button.white {
  box-shadow: none;
  background: #fff;
  border: 1px solid #252c26;
  color: #252c26;
  padding: 11px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
}
button.white:hover {
  border: 1px solid rgba(37, 44, 38, 0.5);
  color: rgba(37, 44, 38, 0.5);
}
/*OUR TOP PICKS SLIDER*/
.products_slick_slider {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}
.slick-dots {
  display: flex;
  justify-content: center;
  color: transparent;
  position: absolute;
  left: 50%;
}
.slick-dots li + li {
  margin-left: 5px;
}
.slick-dots li button {
  height: 15px;
  width: 15px;
  color: transparent;
}
.slick-prev,
.slick-next {
  font-size: 0;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
ul.slick-dots {
  padding: 0;
  margin: 0;
}
.products_title {
  border-bottom: 1px solid #c9cac8;
  position: relative;
  padding-top: 20px;
  margin-bottom: 40px;
}
.products_title span {
  position: absolute;
  font-size: 30px;
  padding: 0 20px;
  text-transform: uppercase;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  text-align: center;
  width: 260px;
}
.products-slider_box {
  max-width: 200px;
  transition: all 0.3s;
  padding: 10px;
}
.products-slider_prod_title {
  font-weight: 700;
}
.products-slider_cost {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.products-slider_cost_was span {
  text-decoration: line-through;
}
.products-slider_cost_now {
  color: #9a1a28;
}
/*VIDEO*/
.video {
  padding: 30px 0 30px;
}
.video_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.video_block {
  font-family: 'Roboto', sans-serif;
  flex: 1 1 auto;
  margin: 20px 5px 0;
  text-align: center;
  min-width: 300px;
  width: 49%;
  overflow-y: hidden;
}
.video_block-images {
  max-width: 100%;
  width: 100%;
  max-height: 320px;
  overflow-y: hidden;
  display: block;
  position: relative;
}
.video_block-images_play {
  box-shadow: 0px 0px 0px 4px #000000;
  height: 38px;
  width: 38px;
  padding: 28px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 5;
}
.video_block-images_play-triangle {
  width: 0;
  height: 0;
  background-color: transparent;
  margin-left: 6px;
  border-style: solid;
  border-width: 20px 0 20px 35px;
  border-color: transparent transparent transparent #ffffff;
}
.video_block-images img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: all 0.5s;
}
.video_block-title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
.video_block-text {
  color: #252c26;
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
}
.video_block-link {
  padding: 9px 24px;
  border: 1px solid #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 0;
  margin-top: 15px;
}
/*VIDEO*/
/*# sourceMappingURL=style.css.map */